apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
- common/
- bazarr/
- jellyfin/
- lidarr/
# - plex/
- prowlarr/
- radarr/
- sonarr/
- transmission/
images:
- name: linuxserver/bazarr
  digest: sha256:9226aa78e7f3684f25c06ac0bd40eab78164bc6e61ccc9db71803ce5c8b51e05
- name: linuxserver/jellyfin
  newTag: 10.11.2
- name: linuxserver/lidarr
  digest: sha256:955ba85c70f9d43655206b51a6c161e638c3070bd88bdafc5752cc5361fa4ac9
- name: linuxserver/prowlarr
  digest: sha256:fa48e07812d0cbce83451d7742f06b879dd552e041ab6e68673d3fbf616353af
- name: linuxserver/radarr
  digest: sha256:e196d96d0c2025f575ca29538cf585b6af02ca14b1a879001368806cda4329cc
- name: linuxserver/sonarr
  digest: sha256:cd3aba902282995fd92b4f051f33cf335706c07b3e5800bd72d346859f427d18
- name: haugene/transmission-openvpn
  newTag: 5.3.2
