apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
- common/
- bazarr/
- jellyfin/
- lidarr/
# - plex/
- prowlarr/
- radarr/
- sonarr/
- transmission/
images:
- name: linuxserver/bazarr
  digest: sha256:3ced8500d8cf8b3e61f6e102c0f2dc77c9762c6ef0a444541dc66312189b8dbe
- name: linuxserver/jellyfin
  newTag: 10.11.6
- name: linuxserver/lidarr
  digest: sha256:e47d0eb5f24aaf18ead22b8b491bab7dba7e1b7c025d12c836062f986191a317
- name: linuxserver/prowlarr
  digest: sha256:24d91f5ca3354753d718d7e78b9efcc6365d8a866ae7ae7873182a750da30c61
- name: linuxserver/radarr
  digest: sha256:60acd1df5f00709da20c1dd3b52dbdc2ef137008436868ff88a4e65063f2a2e1
- name: linuxserver/sonarr
  digest: sha256:ececcf088ae23341e9c36cc2d01be6d3e55b724fdd005f6e70fd1bc9e2847093
- name: haugene/transmission-openvpn
  newTag: 5.3.2
