apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
- common/
- bazarr/
- jellyfin/
- lidarr/
# - plex/
- prowlarr/
- radarr/
- sonarr/
- transmission/
images:
- name: linuxserver/bazarr
  digest: sha256:060de41e2f5752bfdab4e5539cf8950b557024c17b8004776fa531d4abf3bed3
- name: linuxserver/jellyfin
  newTag: 10.11.5
- name: linuxserver/lidarr
  digest: sha256:bd60bedaa74cd0ae9c4d6fdf82dceecbf4a0756691bfde0b1769683c55719b49
- name: linuxserver/prowlarr
  digest: sha256:32c9ed8e73502be34402beec1d51f9bb4e0424a722046e2029b40d74d4c34506
- name: linuxserver/radarr
  digest: sha256:0796ad76da7156324a129838080fefbf54696cc8b9a4c91f5dc83552132e682a
- name: linuxserver/sonarr
  digest: sha256:4b29a11d7df68d0e1290cb7b46db93c8cd0d20a6bff5dbe43a180b2e46505453
- name: haugene/transmission-openvpn
  newTag: 5.3.2
