apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
- common/
- bazarr/
- jellyfin/
- lidarr/
# - plex/
- prowlarr/
- radarr/
- sonarr/
- transmission/
images:
- name: linuxserver/bazarr
  digest: sha256:0f8acf6cdfaf38e3d62efb0866a8ca41febec0c7bc3853c61cacf104e3177076
- name: linuxserver/jellyfin
  newTag: 10.11.6
- name: linuxserver/lidarr
  digest: sha256:4fa18f8babd639dc2a258440892716734714d028806f46fda4cb31652d12cb06
- name: linuxserver/prowlarr
  digest: sha256:a7d3b521f84a914c7641aab6eda68f66e4f0f8149d2fe09690678397441e6572
- name: linuxserver/radarr
  digest: sha256:e228e5ce6f273348dfbfd42cb8c544cfc55f32ce1008a512ab3971ee8a96872c
- name: linuxserver/sonarr
  digest: sha256:b19c0f0c40eb108b56788652d2627415ebf19752d1b8dcd80e53b4d4a86a0bf5
- name: haugene/transmission-openvpn
  newTag: 5.3.2
