apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
- common/
- bazarr/
- jellyfin/
- lidarr/
# - plex/
- prowlarr/
- radarr/
- sonarr/
- transmission/
images:
- name: linuxserver/bazarr
  digest: sha256:9226aa78e7f3684f25c06ac0bd40eab78164bc6e61ccc9db71803ce5c8b51e05
- name: linuxserver/jellyfin
  newTag: 10.11.3
- name: linuxserver/lidarr
  digest: sha256:67133781394c486c45db8bd880202285ce480a36b9d9a9ea82fcba65b2393b8e
- name: linuxserver/prowlarr
  digest: sha256:fa48e07812d0cbce83451d7742f06b879dd552e041ab6e68673d3fbf616353af
- name: linuxserver/radarr
  digest: sha256:4419add65cbd7bc2beb913b6d459ce1b1a69f43e17cba9996548b6b5a9dabe52
- name: linuxserver/sonarr
  digest: sha256:cd3aba902282995fd92b4f051f33cf335706c07b3e5800bd72d346859f427d18
- name: haugene/transmission-openvpn
  newTag: 5.3.2
