apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
- common/
- bazarr/
- jellyfin/
- lidarr/
# - plex/
- prowlarr/
- radarr/
- sonarr/
- transmission/
images:
- name: linuxserver/bazarr
  digest: sha256:9226aa78e7f3684f25c06ac0bd40eab78164bc6e61ccc9db71803ce5c8b51e05
- name: linuxserver/jellyfin
  newTag: 10.11.3
- name: linuxserver/lidarr
  digest: sha256:3be88a6cd838cd29136dd65403224514a2154050bd52630d61f0a44618b18a70
- name: linuxserver/prowlarr
  digest: sha256:999cf291c644b4ba7830e81d51ecb69a993ccb9291662458eb3937914bc6080d
- name: linuxserver/radarr
  digest: sha256:9c0c1bd608214551c66c0f3f431a66064fec63784dc2544e7187316ecb24bf83
- name: linuxserver/sonarr
  digest: sha256:6eba40880eea2153d232a10ba2713e61309ea4b9504ea824010d205c3c1e93b3
- name: haugene/transmission-openvpn
  newTag: 5.3.2
