apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
- common/
- bazarr/
- jellyfin/
- lidarr/
# - plex/
- prowlarr/
- radarr/
- sonarr/
- transmission/
images:
- name: linuxserver/bazarr
  digest: sha256:7f6b724fae0c3e2b3fe23c2b9d15a2f35876e0a0cda81c8be41589005bc4f8b9
- name: linuxserver/jellyfin
  newTag: 10.11.5
- name: linuxserver/lidarr
  digest: sha256:240ccfbc9f2612a66b804f2d8f883465831bb52ec75469bcb9d377ba2ffd9648
- name: linuxserver/prowlarr
  digest: sha256:32c9ed8e73502be34402beec1d51f9bb4e0424a722046e2029b40d74d4c34506
- name: linuxserver/radarr
  digest: sha256:5c554bb68bd0638d79968af9ff46c4320fe544fdc09d8148224b2bdf99af788b
- name: linuxserver/sonarr
  digest: sha256:51ef4db56600429801dba24106280d6e7d14f2d6e4a5c8d95418c595755e2726
- name: haugene/transmission-openvpn
  newTag: 5.3.2
