apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
- common/
- bazarr/
- jellyfin/
- lidarr/
# - plex/
- prowlarr/
- radarr/
- sonarr/
- transmission/
images:
- name: linuxserver/bazarr
  digest: sha256:b3b33e4de21bd58755df554b354cd75a52e6785aa46e5b4412be46e128d19b17
- name: linuxserver/jellyfin
  newTag: 10.11.6
- name: linuxserver/lidarr
  digest: sha256:8a25936404bfb159340e75424a5b72cb94b379746279d137ef72dd330bb52c2e
- name: linuxserver/prowlarr
  digest: sha256:a7d3b521f84a914c7641aab6eda68f66e4f0f8149d2fe09690678397441e6572
- name: linuxserver/radarr
  digest: sha256:c3fb49ebd04ca8b74a0f98b8875ee0682cc2b8a5c1b7a68897c285c58621783e
- name: linuxserver/sonarr
  digest: sha256:b19c0f0c40eb108b56788652d2627415ebf19752d1b8dcd80e53b4d4a86a0bf5
- name: haugene/transmission-openvpn
  newTag: 5.3.2
